main {
    text-align: center;
}

#auctions-header {
    padding-top: 50px;
    font-size: 4em;
}

h1 {
    font-size: 2.25em;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 8%;
    gap: 8%;
}

.product-img {
    width: 35%;
    margin: 0 25px;
}